#macro (active $targetName) 
    #if ($!target==$!targetName) class="active" #end
#end
<link rel="stylesheet" href="/static/css/nav.css">
<div class="main-nav">
	<ul>
		<li #active("overview") #active("index")><a href="/">概览</a></li>
		<li #active("dashboard")><a href="/dashboard.html">仪表板</a></li>
		<li #active("predict")><a href="/predict.html">实时预测</a></li>
		<li #active("performance")><a href="/performance.html">性能预测</a></li>
	</ul>
</div>
<script type="text/javascript">seajs.use("js/nav.js")</script>