<link rel="stylesheet" href="/static/css/sourceView.css">
<div class="right-tree">
	<div class="tree-header">
		<p><b>监控资源视图</b></p>
		<div class="input-group">
	      <input type="text" class="form-control" placeholder="Search for..." /> 
	      <span class="input-group-btn">
	      		<button class="btn btn-default" type="button">
	      			<span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp;
	      		</button>
	      </span>
	    </div>
	</div>

	<div class="tree-container">
		<div class="ztree"></div>
	</div>

	<div class="tree-bottom"></div>
	
</div>
<script type="text/javascript">seajs.use("js/sourceView.js")</script>
