#macro (active $targetName) 
    #if ($!target==$!targetName) class="active" #end
#end
<link rel="stylesheet" href="/static/css/overview/sidebar.css">
<div class="sidebar">
	<div class="sidebar-graph">
		<img src="$!icon">
		<p>$!name</p>
	</div>
	
	<ul>
	  <li #active("detail")><a href="detail.html?sourceId=${sourceId}">基本信息</a></li>
	  <li #active("probe")><a href="probe.html?sourceId=${sourceId}">探针控制</a></li>
	</ul>
</div>
<script type="text/javascript">seajs.use("js/overview/sidebar.js")</script>