<link rel="stylesheet" href="/static/lib/vis/dist/vis.min.css">
<link rel="stylesheet" href="/static/css/overview/topology.css">
<div id="topology" class="anchor">
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">系统拓扑</h3>
	  </div>
	  <div class="panel-body">
	  	<div class="topology-container" />
  	  </div>
    </div>
</div>
<script type="text/javascript">seajs.use("js/overview/topology.js")</script>